@font-face {
  font-family: 'GothaProReg';
  src: url("https://evgeniyvorobev.github.io/multiple-test/spisok/fonts/GothaProReg.otf"); }

@font-face {
  font-family: 'GothaProMed';
  src: url("https://evgeniyvorobev.github.io/multiple-test/spisok/fonts/GothaProMed.otf"); }

@font-face {
  font-family: 'GothaProBol';
  src: url("https://evgeniyvorobev.github.io/multiple-test/spisok/fonts/GothaProBol.otf"); }

.result-txt {
  font-family: "GothaProReg";
  line-height: 1.3; }

.test-result {
  max-height: 250px;
  background-color: #ffc83c;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 624px;
  border-radius: 7px;
  padding: 25px 50px;
  text-align: center;
  box-sizing: border-box;
  top: 50%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%; }
  .test-result h2 {
    font-family: 'GothaProReg';
    margin: 0; }
  .test-result h1 {
    font-family: 'GothaProMed';
    margin: 0; }
  .test-result p {
    margin: 0;
    font-family: 'GothamProBol'; }

.error {
  border-color: #ffdb18 !important; }

.description_error {
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 0 60px;
  background-color: #d1d1d1;
  color: black;
  border: 0;
  font-family: "GothaProReg";
  font-size: 14px;
  margin-left: 10px;
  margin: 20px auto;
  width: 100%; }

.fz20_18_16_12 {
  font-size: 20px; }

.visible500 {
  display: none; }

.checbox-wrapp {
  display: flex;
  position: relative; }
  .checbox-wrapp p {
    font-family: 'GothaProReg';
    font-size: 14px;
    padding-left: 10px; }

.text-center {
  text-align: center; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

#checbox-block {
  display: block;
  width: 20px;
  height: 20px;
  align-self: center; }

.underscoring_url {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #ffc83c;
  line-height: 20px; }

.btn_autorization {
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 0 60px;
  background-color: #e31d1a;
  color: white;
  border: 0;
  font-family: "GothaProReg";
  font-size: 14px;
  margin: 0px 0px 10px auto;
  width: 100%; }

.popup-wrapper .opros-wrap h2 {
  font-size: 24px; }

.popup-wrapper .opros-wrap p {
  font-size: 16px; }

.popup-wrapper .opros-wrap button {
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  background-color: #e31d1a;
  color: white;
  border: 0;
  font-family: "GothaProReg";
  font-size: 14px;
  margin-left: 10px;
  margin: 20px auto 0px auto;
  width: 100%; }

.popup-wrapper.main-registration.free1020 p {
  font-size: 16px; }

.fz40_32_22 {
  font-size: 40px; }

.fz14_13 {
  font-size: 14px !important; }

#interview ul {
  padding-left: 0 !important; }

.interview {

    color: black;
  max-width: 624px;
  display: block;
  margin: 0 auto; 
    background-color: unset;
}
  .interview .login-form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: inherit;
    height: inherit; }
    .interview .login-form .user_img {
      margin-left: 26px;
      width: 65px;
      height: 65px; }
  .interview .text-wrap h1 {
    font-family: 'GothaProMed';
    margin-top: 0;
    margin-bottom: 0; }
  .interview .text-wrap p {
    font-family: 'GothamProBol';
    padding-top: 15px;
    line-height: 1.55; }
  .interview p {
    font-size: 16px; }

#interview button[type=submit] {
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 0 60px;
  background-color: #ffdb18;
  color: black;
  border: 0;
  font-family: "GothaProReg";
  font-size: 14px;
  margin-left: 10px;
  margin: 20px auto 5px auto;
  width: 100%; }

#interview label.error {
  display: none !important; }

#interview label.real {
  display: block;
  /*padding-left: 12px;*/
  font-size: 12px;
  font-family: 'GothaProReg';
  font-weight: bold;
  text-transform: uppercase; }

#interview textarea {
  width: 100%;
  font-size: 12px;
  border-radius: 7px;
  border: 2px solid #d1d1d1;
  padding: 2px;
  outline: 0;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  margin-top: 8px;
  cursor: pointer; }

#interview input {
  background-color: #262626;
  font-family: 'GothaProBol';
  color: white;
  text-transform: uppercase; }
  #interview input::-webkit-input-placeholder, #interview input -moz-placeholder, #interview input -ms-input-placeholder {
    color: white;
    font-size: 12px;
    font-family: 'GothaProBol';
    font-weight: bold; }
  #interview input.right {
    margin-left: 20px; }

#interview input.half-width {
  max-width: 300px;
  width: 100%;
  font-size: 12px;
  border-radius: 7px;
  border: 2px solid #d1d1d1;
  outline: 0;
  padding: 10px 35px 10px 10px;
  box-sizing: border-box;
  margin-top: 8px; }

#interview input.full-width {
  width: 100%;
  font-size: 12px;
  border-radius: 0px;
  border: 2px solid #d1d1d1;
  outline: 0;
  padding: 10px 35px 10px 10px;
  box-sizing: border-box;
  margin-top: 8px; }

#interview select.half-width {
  max-width: 300px;
  width: 100%;
  font-size: 12px;
  border-radius: 7px;
  border: 2px solid #d1d1d1;
  outline: 0;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px; }
  #interview select.half-width.right {
    margin-left: 20px; }

.wrapp-spisok {
  position: relative;
      color: black; }
  .wrapp-spisok .arrowdown {
    width: 15px;
    position: absolute;
    top: 19px;
    right: 14px;
    cursor: pointer; }
/*#q3 input {*/
/*  background-color: #262626;*/
/*  color: white;*/
/*}*/
.spisok {
  max-width: 300px;
  width: 100%;
  font-size: 12px;
  border-radius: 7px;
  border: 2px solid #d1d1d1;
  padding: 2px;
  outline: 0;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  margin-top: 8px;
  cursor: pointer; }
  .spisok.full-width {
    max-width: inherit; }
  .spisok:hover {
    /*background-color: #E6E6E6;*/
    background-position: 0 -10px; }

.drop-down.half-width {
  max-width: 300px;
  width: 100%;
  display: inline-block; }
  .drop-down.half-width.right {
    margin-left: 20px; }

.drop-down ul {
  font-size: 12px;
  border: 2px solid #d1d1d1;
  border-top: 0px;

  border-radius: 0px 0px 7px 7px;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #262626; }
  .drop-down ul li {
    list-style-type: none;
    background-color: #262626;
    font-family: 'GothaProMed';
    color: white;
    padding: 10px 10px 10px 10px; }
    .drop-down ul li:hover {
      background-color: #151515d1;
      background-position: 0 -10px; }
    .drop-down ul li:first-child {
      padding: 10px 10px 10px 10px; }

@media screen and (max-width: 959px) {
  .fz20_18_16_12 {
    font-size: 18px; }
  .fz40_32_22 {
    font-size: 32px; }
  #interview {
    margin-top: 15px; }
  .popup-wrapper .opros-wrap p {
    font-size: 14px; } }

@media screen and (max-width: 639px) {
  .fz14_13 {
    font-size: 14px !important; }
  #opros_redirect {
    max-width: 380px; }
  .interview {
    padding: 0 10px;
    max-width: 500px; }
    .interview .text-wrap {
      margin-top: 15px; }
    .interview #interview label.real {
      font-size: 11px; }
    .interview #interview input::-webkit-input-placeholder, .interview #interview input -moz-placeholder, .interview #interview input -ms-input-placeholder {
      font-size: 10px; }
    .interview #interview input.half-width {
      max-width: 100%; }
    .interview #interview input.right {
      margin-left: 0; }
    .interview .text-wrap h1 {
      padding-top: 8px; }
    .interview .text-wrap p {
      font-size: 14px;
      padding-top: 18px; }
  .spisok {
    max-width: 100%; }
  .drop-down ul {
    position: relative;
    font-size: 11px; }
  .drop-down.half-width {
    max-width: 100%; }
    .drop-down.half-width.right {
      margin-left: 0; }
  .fz20_18_16_12 {
    font-size: 16px; }
  .fz40_32_22 {
    font-size: 22px; } }

@media screen and (max-width: 500px) {
  .fz14_13 {
    font-size: 13px !important; }
  #interview {
    margin-top: 10px; }
  .interview .login-form {
    margin-top: 0; }
  .fz20_18_16_12 {
    font-size: 12px; }
  .popup-wrapper .opros-wrap h2 {
    font-size: 18px; }
  .popup-wrapper .opros-wrap p {
    font-size: 12px; }
  .popup-wrapper .opros-wrap button {
    font-size: 12px; }
  .visible500 {
    display: inherit; }
  .hide500 {
    display: none; }
  .popup-wrapper.main-registration.free1020 {
    max-width: 350px !important;
    margin: 0 auto; }
  .popup-wrapper.main-registration.free1020 .autorization-txt {
    font-size: 12px;
    padding-left: 0; }
  .box-modal.free1020 {
    max-width: 350px; }
  .btn_autorization {
    font-size: 13px; } }
